@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /* 1 rem = 16px but set 1rem=10px */
    font-size: 62.5%;
}
body{
    font-family: "Roboto", sans-serif;
}
h1,h2{
    font-size: 2.2rem;
}
a{
    text-decoration: none;
}
p,a,span,div{
    font-size: 1.6rem;
}
span{
    display: inline-block;
}
ul{
    margin: 0;
    list-style-type: none;
}
.container-width{
    width:87%;
    margin: auto;
    /* background-color: blue; */
}
.navigation{
    /* background-color:red; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-left ul{
    display: flex;
    gap: 2rem;
}
.nav-left ul li{
    padding: 1.3rem 1.6rem;
    transition: all .3s;
}
.nav-left ul li:hover{
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.nav-center img{
    width: 100px;
}
.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li:not(:first-child){
    padding: 1.3rem 1.6rem;
    height: 100%;
}
.nav-right ul li:hover:not(:first-child){
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}
.search{
    display: flex;
    border: 1px solid;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
}
.search span{
    display: flex;
    align-items: center;
    padding: 0 1.3rem;
}
.search input{
    border: none;
    outline: none;
}
.hero{
    height: 650px;
    position: relative;
}
.hero img{
    width: 100%;
    height: 100%;
}
.btn-shop{
    position: absolute;
    left: 40%;
    bottom: 20%;
    display: flex;
    gap: 2.5rem;
}
.btn-shop button{
    padding: 1.3rem 1.5rem;
    background-color: transparent;
    border: whitesmoke 2px solid;
    border-radius: 0.8rem;
    transition: all 0.3s;
}
.btn-shop button:hover{
    transform: translateY(-5px);
    box-shadow: rgba(0,0,0,0.09) 0px 2px 1px, rgba(0,0,0,0.09) 0px 4px 2px,
    rgba(0,0,0,0.09) 0px 8px 4px, rgba(0,0,0,0.09)0px 16px 8px,
    rgba(0,0,0,0.09) 0px 32px 16px;
    cursor: pointer;
}
.brand{
    display: flex;
}
.brand div{
    background-color: blue;
    height: 180px;
    width: 16.66%;
}
.brand div img{
    width: 100%;
    height: 100%;
}
.slide-hero{
    height: 400px;
}
.main-items{
    /* background-color: red; */
    margin-top: 20px;
}
.title-head{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
}
.main-cards{
    width: 100%;    
    height: 550px;
    /* background-color: blue; */
    display: flex;
    gap: 1%;
}
.cards{
    width: 100%;
    height: 100%;
    /* background-color: dodgerblue; */
    box-shadow: rgba(0,0,0,0.1)0px 1px 2px 0px;
    padding: .5rem .8rem;
}
.img{
    width: 100%;
    height: 70%;
    background-color: red;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
}
.img img{
    width: 100%;
    height: 100%;
}
.body-card{
    width: 100%;
    height: 30%;
    display: flex;
}
.body-card-title{
    width: 90%;
    padding: 1.3rem 1rem;
}
.icon{
    padding-top: 1.3rem; ;
}
.body-card-title h2 span{
    font-size:1.8rem;
}
.body-card-title h2 span:first-child{
    color: red;
}
.body-card-title h2 span:last-child{
    text-decoration: line-through;
}
.body-card-title p{
    font-size: 1.6rem;
    margin-top: 0.4rem;
}
.dis{
    position: absolute;
    left: 2rem;
    top: 2rem;
    display: block;
    padding: .7rem 1.3rem;
    background-color: rgba(255, 36 ,36 ,0.76);
    border-radius: 1rem;
    color: whitesmoke;
}
.text-brand{
    position: absolute;
    color: whitesmoke;
    z-index: 50;
    display: block;
    bottom: 2rem;
    right: 1rem;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.colors{
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.colors li{
    width: 2rem;
    height: 2rem;
    border: 1px solid gray;
    border-radius: 0.5rem;
}
.colors li:first-child{
    background-color: black;
}
.colors li:nth-child(2){
    background-color: gray;
}
.colors li:last-child{
    background-color: white;
}